* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	font-family: inherit;
	vertical-align: baseline;
	outline: none;
		   	  box-sizing: border-box;
		   -o-box-sizing: border-box;
 	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
  -webkit-user-select: none;
	 -khtml-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
		      user-select: none;
}
body {
  font-size: 18px;
  color: #337AB7;
}
a, a:hover, a:active, a:link {text-decoration: none;}
h1 {
	color: grey;
}
.row {
	margin: 0;
	padding: 0;
}
.row-add-card {
	padding: 15px;
}
.card, .add-card {
	display: inline-block;
  margin-bottom: 10px;
	padding: 10px;
	/*margin-right: 10px;*/
  border: 1px solid #ccc;
  border-radius: 10px;
  text-align: center;
}
.add-card {
	margin-right: 15px;
	background: #ccc;
}
.form-control {
	margin-bottom: 15px;
}
.completed {
	text-decoration: line-through;
}
li:hover {
  /*background: #ccc;*/
	/*cursor: pointer;*/
}
label {
	margin: 0;
	cursor: pointer;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
.btn {
	margin: 10px;
}
