<div>
  <label for="name" ng-click="todoCtrl.editTodo()" ng-class="{ completed : todoCtrl.todo.isComplete }">
    <input type="checkbox" name="name" value="todoCtrl.todo.title" ng-checked="todoCtrl.todo.isComplete">
    {{todoCtrl.todo.title}}
  </label>
  <button type="button" class="close" aria-hidden="true"
          ng-click="todoCtrl.removeTodo()">
    &times;
  </button>
</div>
