<div>
<div class="container">
  <div class="row">
    <div class="col-xs-4 text-center">
      <h1 class="">Categories</h1>
      <ul class="list-group">
        <li class="list-group-item list-group-item-info"
                    ng-class="{ active : $ctrl.curCategory === ''}"
                    ng-click="$ctrl.setCategory('')">
          <a ui-sref=".all">All</a>
        </li>
        <li class="list-group-item list-group-item-info"
            ng-repeat="category in $ctrl.categories"
            ng-class="{ active : $ctrl.curCategory === category.id}"
            ng-click="$ctrl.setCategory(category.id)">
            <a ui-sref=".{{category.title}}">{{category.title | uppercase}}</a>
        </li>
      </ul>
    </div>
  </div>
  <div>
    <div ui-view></div>
  </div>
</div>
</div>
