<div class="">
<div class="card">
  <button type="button" class="close" aria-hidden="true"
          ng-click="cardCtrl.removeCard()">
    &times;
  </button>
  <div class="title">
    <h2>{{cardCtrl.card.title}}</h2>
  </div>
  <ul class="tabs row nav nav-pills nav-justified">
        <li class="active"
            ng-class="{ active : cardCtrl.curStatus ==='' }"
            ng-click="cardCtrl.setStatus('')">
            <a href="#">All</a>
        </li>
        <li class=""
            ng-class="{ active : cardCtrl.curStatus === 'true' }"
            ng-click="cardCtrl.setStatus('true')">
            <a href="#">Finished</a>
        </li>
        <li class=""
            ng-class="{ active : cardCtrl.curStatus === 'false' }"
            ng-click="cardCtrl.setStatus('false')">
            <a href="#">In progress</a>
        </li>
  </ul>
  <ul class="tab-content list-group">
    <li class="list-group-item"
      ng-repeat="todo in cardCtrl.todos | filter: cardCtrl.curStatus">
      <todo todo="todo"></todo>
    </li>
  </ul>
  <form class="navbar-form" ng-submit="cardCtrl.addTodo()">
    <input type="text" class="form-control" name="name" ng-model="cardCtrl.title" placeholder="Enter new task">
  </form>
</div>
</div>
