<div>
  <div class="row">
    <div ng-repeat="card in cardListCtrl.cards"
         class="col-xs-4">
         <div>
           <card card="card"></card>
         </div>
    </div>
  </div>
  <div class="row row-add-card">
    <div class="add-card col-xs-3">
      <form class="navbar-form" ng-submit="cardListCtrl.addCard()">
        <input type="text" class="form-control" name="name" ng-model="cardListCtrl.title" placeholder="Enter new card's title">
        <label>
          <select class="form-control" name="сhoose_category"
                  ng-options="category for category in cardListCtrl.categoriesList()"
                  ng-model="cardListCtrl.cardCategory">
                  <option value="" selected disabled>Choose category</option>
          </select>
        </label>
      </form>
    </div>
  </div>
</div>
